* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(230, 126, 34, 0.5);
}
html {
  /* (10/16)*100 */
  /* Percentage of user's font-size setting, adjustable */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
strong {
  font-weight: 500;
}
/* ******************************************************/
/* Reusable Code */
/* ******************************************************/
.primary-heading,
.secondary-heading,
.tertiary-heading {
  color: #333;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
}
.secondary-heading {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}
.tertiary-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
/* Centering container */
.cent-cont {
  /* max-width: 130rem; */
  margin: 0 auto;
  padding: 0 3rem;
}
.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Apply grid layout */
.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 9.6rem;
}
.grid--center-v {
  align-items: center;
}
/* Grid with 2 columns */
.grid--2col {
  grid-template-columns: repeat(2, 1fr);
}
/* Grid with 3 columns */
.grid--3col {
  grid-template-columns: repeat(3, 3fr);
}
/* Grid with 4 columns */
.grid--4col {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5col {
  grid-template-columns: repeat(5, 1fr);
}
/* ******************************************************/
/* HEADER */
/* ******************************************************/
.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Height is specified to help in making the nav sticky later  */
  height: 9.6rem;
  padding: 0 3rem;
}

.logo {
  height: 2.4rem;
}

/* ******************************************************/
/* NAVIGATION */
/* ******************************************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fdf2e9;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
/* ******************************************************/
/* HERO SECTION */
/* ******************************************************/
.section-hero {
  /* Make tints and shades page after choosing the primary color */
  background-color: #fdf2e9;
  /* In course padding is 9.6rem and 0 for making the width of the section 130rem */
  padding: 4.8rem 3rem;
  height: 100vh;
}
.hero {
  /* in Lecture max-width: 130rem */
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.primary-heading {
  font-size: 5.2rem;
  color: #333;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-image {
  width: 100%;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;

  /* Transition always on original state/element */
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  background-color: #cf711f;
  color: #fff;
}
.btn-modified:link,
.btn-modified:visited {
  background-color: #fff;
  color: #555;
}
.btn-modified:hover,
.btn-modified:active {
  background-color: #fdf2e9;
  /* Border box will add the border to the outside, hence moving the text by 3px up. 
  The trick is to use the box shadow with the scale of 3px, and insit keyword to make the shadow go to the inside*/
  /* border: 3px solid #fff; */
  box-shadow: inset 0 0 0 3px #fff;
}
/* Helper class to be used in multiple places*/
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.cent-text {
  text-align: center !important;
}

/* *** */
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.customers-photos {
  display: flex;
}
.customers-photos img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #fdf2e9;
}
.customers-photos img:last-child {
  margin: 0;
}
.delivered-meals p {
  font-size: 1.8rem;
  font-weight: 600;
}
.deliveries {
  color: #cf711f;
  font-size: 2.1rem;
}

/* ******************************************************/
/* Featured in SECTION */
/* ******************************************************/
.featured-section {
  padding: 4.8rem 0;
}
.featured-in-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* ******************************************************/
/* How it works SECTION */
/* ******************************************************/
.how-it-works {
  padding: 4.8rem 3rem;
}
.step-image {
  width: 35%;
}
.step-image-box {
  position: relative;
}

.step-image-box::before,
.step-image-box::after {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.step-image-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -2;
}
.step-image-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;

  z-index: -1;
}
.step-textbox {
  padding: 0 6rem;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ******************************************************/
/* Meals Section */
/* ******************************************************/

.meals-section {
  padding: 9.6rem 0;
}
.meal-title {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal-title:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translate(0, -1rem);
}
.meal-tags {
  margin-bottom: 1.2rem;

  display: flex;
  gap: 0.5rem;
}
.meal-details-cont {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.image-meal {
  width: 100%;
}
.meal-name {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-details,
.list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detail-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-att {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.list-item {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}
.all-recipes {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.8rem;
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border: 1px solid transparent;
}
/*************************************************/
/* Testimonoals Section */
/*****************************************************/
.testimonial {
  background-color: #fdf2e9;
  padding: 1.6rem 1.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-left-section {
  padding: 9.6rem 3rem 9.6rem 3rem;
}
.cust-image {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  align-content: center;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.gallery-item {
  overflow: hidden;
}

/*************************************************/
/* Pricing Section */
/*****************************************************/
.pricing-section {
  padding-top: 9.6rem;
}
.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}
.starter-plan {
  justify-self: end;
  border: 2px solid #fdf2e9;
}
.complete-plan {
  background-color: #fdf2e9;
  padding: 4.6rem;

  position: relative;
  overflow: hidden;
}
.complete-plan::after {
  content: "Best Value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  top: 4.5%;
  right: -7%;
  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 4rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.additional-info-pricing {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-top: 3.2rem;
}
/*************************************************/
/* Feature Section */
/*****************************************************/

.features {
  margin-top: 5rem;
  padding: 0 8rem 9.6rem 8rem;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #555;
}
/*************************************************/
/* Call to action Section */
/*****************************************************/
.call-to-action {
  padding: 9.6rem 9.6rem;
}
.cta {
  background-color: #381d06;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;
}
.cta-textbox {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-textbox .secondary-heading {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-imagebox {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("images/eating.jpg");
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
/* Form design */
.cta-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  border: none;
  box-shadow: 0 1px 2px rbga(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #bbb;
}
.cta-form select {
}
.cta-form button {
  background-color: #45260a;
  padding: 1.2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

  align-self: end;
}
.cta-form button:hover {
  background-color: #fff;
  color: #333;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}
/*************************************************/
/* Footer Section */
/*****************************************************/
.footer {
  border-top: 1px solid #eee;
  padding-top: 10rem;
  padding-bottom: 9.6rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}
.social-links {
  list-style: none;

  display: flex;
  gap: 2.4rem;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.footer-navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;

  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
